/* 
   Spacing:
     lvl1: 1.5
     lvl2: 3
     lvl3: 6
     lvl4: 9
     lvl5: 12
     lvl6: 16
     lvl7: 20
     lvl8(between sections): 40
    
    Breakpoints:
      & < lg(1024px): mobile, tablet
      & > lg(1024px): laptop, desktop, tv
*/

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "morabba";
  font-display: swap;
  src: url("/fonts/morabba/morabba-regular.ttf");
}

@font-face {
  font-family: "morabba-medium";
  font-display: swap;
  src: url("/fonts/morabba/morabba-medium.ttf");
}

@font-face {
  font-family: "morabba-bold";
  font-display: swap;
  src: url("/fonts/morabba/morabba-semi-bold.ttf");
}

@font-face {
  font-family: "yekan-bakh";
  font-display: swap;
  src: url("/fonts/yekan-bakh/yekan-bakh-regular.ttf");
}

/* @font-face {
  font-family: "yekan-bakh-medium";
  font-display: swap;
  src: url("/fonts/yekan-bakh/yekan-bakh-medium.ttf");
} */

@font-face {
  font-family: "yekan-bakh-bold";
  font-display: swap;
  src: url("/fonts/yekan-bakh/yekan-bakh-semi-bold.ttf");
}

:root {
  --radius: 0.625rem;

  --background: oklch(12.91% 0.004 285.49);
  --foreground: oklch(97.22% 0.002 264.56);

  --primary: oklch(67.43% 0.168 253.22);
  --primary-foreground: oklch(97.22% 0.002 264.56);
}

@theme {
  --font-*: initial;
  --font-morabba: "morabba";
  --font-morabba-medium: "morabba-medium";
  --font-morabba-bold: "morabba-bold";
  --font-yekan-bakh: "yekan-bakh";
  --font-yekan-bakh-bold: "yekan-bakh-bold";

  /* Shadcn */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
}

@layer base {
  * {
    @apply border-foreground/10 outline-foreground/10;
  }

  body {
    @apply bg-background text-foreground font-yekan-bakh;
  }
}

@utility container {
  @apply max-w-7xl mx-auto px-3;
}

@utility f-align {
  @apply flex items-center;
}

@utility f-center {
  @apply flex items-center justify-center;
}

@utility heading {
  @apply font-morabba-bold text-3xl lg:text-5xl;
}

@utility sub-heading {
  @apply font-morabba-medium text-xl lg:text-2xl;
}

@utility title {
  @apply font-yekan-bakh-bold text-lg lg:text-xl;
}

@utility card {
  @apply p-3 lg:p-6 rounded-2xl;
}

@utility glassy-card {
  @apply bg-foreground/10 backdrop-blur-sm;
}

@utility bordered-glassy-card {
  @apply glassy-card border border-foreground/20;
}